<div id="image-box">
  <div class="left">
    <!-- The two img tags are equivalent but use different types of binding. The first uses string interpolation {{}}, the second uses property binding []-->
    <!-- <img src={{coverUrl}}> -->
    <img [src]="coverUrl">
    <app-greeting></app-greeting>
    <!-- Could use [class.active]="theBox" instead of [ngClass]. Use [ngClass] when there are multiple things to change -->
    <div class="parent-box" [ngClass]="{'active': theBox}" (dblclick)="parentClick($event)">
      <div class="child-box" [ngClass]="{'active': theBox}" (dblclick)="childClick($event)"></div>
    </div>
  </div>

  <div class="right">
    <div>
      <!-- ngModel comes with the FormsModule import. The syntax of [()] is called TWO-WAY BINDING, which allows the element's value to dynamically change -->
      <label>Username: </label>
      <input [(ngModel)]="username" />
    </div>
    <div>
      <label>Password: </label>
      <input [(ngModel)]="password" />
    </div>
    <h3>Canyon Listings</h3>
    <div [ngSwitch]="canyons.length > 0">
      <ul *ngSwitchCase="true">
        <li *ngFor="let canyon of canyons">
          <span class="li-title">Name:</span> {{canyon.name}} <br>
          <span class="li-title">Location:</span> {{canyon.location}} <br>
          <span class="li-title"> Distance:</span> {{canyon.distance}} <br>
        </li>
      </ul>
      <ul *ngSwitchDefault>
        <p>Sorry, no listings available</p>
      </ul>
    </div>
    <!-- Could use [style.backgroundColor]="pushed ? 'green' : 'firebrick'" -->
    <div class="button" (click)="showBox()" [ngStyle]="{'backgroundColor': pushed ? 'firebrick' : 'green' }">{{showOrHide}}</div>
  </div>
</div>

<!-- The block below is the same as above but using #ngIf and ng-template instead of [ngSwitch] driective-->
<!-- <div class="right">
    <h3>Canyon Listings</h3>
    <div *ngIf="canyons.length > 0; then showListings else hideListings"></div>
    <ng-template #showListings>
    <ul>
      <li *ngFor="let canyon of canyons">
        <span class="li-title">Name:</span> {{canyon.name}} <br>
        <span class="li-title">Location:</span> {{canyon.location}} <br>
        <span class="li-title"> Distance:</span> {{canyon.distance}} <br>
      </li>
    </ul>
    </ng-template>
    <ng-template #hideListings>
    <ul>
      <p>Sorry, no listings available</p>
    </ul>
    </ng-template>
  </div> -->